{% extends "base.html" %}
{% load navigation_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        Customer List
                        <div class="dropdown pull-right">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-expanded="true">
                                <span class="fa fa-wrench"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="dropdownMenu1">
                                {% if request.user.is_staff %}
                                    <li role="presentation">
                                        <a href="{% url 'add_customer' %}">
                                            <i class="fa fa-plus"></i> Add Customer
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </h3>
                </div>
                <div id="the-filters" class="panel-body collapse {% if request.META.QUERY_STRING %}in{% endif %}">
                    {% include "dojo/filter_snippet.html" with form=ptl.form %}
                </div>
            </div>
            {% if cs %}

                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=cs page_size=True %}
                </div>

                <div class="panel panel-default table-responsive">
                    <table id="customers"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>{% dojo_sort request 'Customer' 'name' 'asc' %}</th>
                            <th> # of Products</th>
                            <th> # of active findings</th>
                            {% if user.is_staff %}
                                <th> Actions</th>{% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in cs %}
                            <tr>
                                <td><a href="{% url 'customer_metrics' c.id %}"> {{ c.name }} </a></td>
                                <td><a href="{% url 'product' %}?customer={{ c.id }}">{{ c.products_count }}</a></td>
                                <td>
                                    <a href="{% url 'open_findings' %}?test__engagement__product__customer={{ c.id }}">
                                        {{ c.findings_count }}
                                    </a>
                                </td>
                                {% if user.is_staff %}
                                    <td>
                                        <div class="centered">
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-sm btn-success"
                                                   href="{% url 'add_product_to_customer' c.id %}">
                                                    <i class="fa fa-plus"></i> Add Product
                                                </a>
                                                <a class="btn btn-sm btn-warning"
                                                   href="{% url 'edit_customer' c.id %}">
                                                    <i class="fa fa-pencil"></i> Edit Customer
                                                </a>
                                                <a class="btn btn-sm btn-primary"
                                                   href="{% url 'customer_report' c.id %}">
                                                    <i class="fa fa-file-text-o"></i> Report
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=cs page_size=True %}
                </div>
            {% else %}
                <p class="text-center">No customers found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in name_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_name").autocomplete({
                source: availableTags
            });
        });
    </script>
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}






